<% show_errors_for server_rack %>
<div class="field">
	<%= form.label :name %><br />
	<%= form.text_field :name %>
</div>
<div class="field">
	<%= form.label :comment %><br />
	<%= form.text_area :comment, {:size => '90x4'} %>
</div>


