<div data-role="header" data-position="fixed" >
	<h1>No rights</h1>
	
</div>
<div id="content" data-role="content">	
	<p>You don't have sufficient rights to access the application. Please wait for an admin to grant you the rights, or not... </p>
</div>