html{
	margin:0px;
	font-family: Verdana,Arial,sans-serif; font-size: small; 
	padding:5px;
}
#datacenters fieldset{
	max-width:30%;
}
#wrapper {
	margin:0px;
	width:99%;
}
#header {
	padding:5px;
	float:left;
	width:100%;
}
#notice {
	margin:0px;
	float:right;
	width:33%;
}
#content {
	margin:0px;
	width:100%;
	float:left;
}
#menu{
	float:left;
	width:auto;
}
#menu a{
	padding: 0.4em 1em 0.4em 20px;
	text-decoration: none;
}
#menu a:hover{
	background: #79C9EC url(start/images/ui-bg_glass_75_79c9ec_1x400.png) repeat-x 50% 50%;
	border: 1px solid #448DAE;
	color: #026890;
	font-weight: normal;
}
#search{
	float:right;
	width:auto;
}
#search form {
	float:right;
}
.pagination{
	float:left;
	width:100%;
}