*{
	margin:0px;
	font-family: Verdana,Arial,sans-serif; font-size: small; 
	padding:0px;
	
}
.clearfix {
	display: inline-block;
}
body{
	background-image: url('../images/bg.jpg');
	background-size:100%;
	background-repeat: no-repeat;
	background-color:#010101;
}
html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.ui-tabs-nav li:hover{
	background-image: url('custom-theme/images/ui-bg_glass_100_cbcbcb_1x400.png');
}
#wrapper {
	margin:auto;
	width:95%;
}
#logo{
	height:75px;
	float:left;
	width:100%;
	background-size:100%;
	color:#FFFFFF;
}
#logo h1{
	margin-top:15px;
	margin-left:15px;
	float:left;
	font-size:x-large;
	width:100%;
}
#logo h2{
	float:left;
	margin-left:50px;
}
#buttonbar {
	height:38px;
	background: #DDD url('../images/menubg.jpg') repeat-x;
	float:left;
	width:100%;
}
#notice {
	margin:0px;
	float:right;
	width:33%;
	height:auto;
	margin-left:5px;
	margin-right:5px;
}
#notice p{
	margin:0px;
	padding: 0.4em 1em 0.4em 20px;
}
#content {
	margin:0px;
	width:100%;
	float:left;
}
#content p{
	padding:5px;
}
#datacenter{
/*	float:left;*/
	width:100%;
}
#content fieldset{
	padding:5px;
	margin:5px;
	width:18%; 
	float:left;
}
#menu{
	float:left;
	width:auto;
}
#menu a{
	float:left;
	margin:5px;
	padding: 0.4em 1em 0.4em 20px;
	text-decoration: none;
}
#menu a:hover{
	background: #79C9EC url('custom-theme/images/ui-bg_glass_75_87c9ec_1x400.png') repeat-x 50% 50%;
	border: 1px solid #448DAE;
	font-weight: normal;
	color:#000000;
}
#search{
	margin-top:5px;
	float:right;
	width:auto;
}
#search form {
	float:right;
}
#search #s{
	width:250px;
}
.pagination{
	float:left;
	width:100%;
}
