html{
	margin:0px;
	font-family: Verdana,Arial,sans-serif; font-size: small; 
	padding:5px;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
#datacenter fieldset{
	max-width:20%;
}
#wrapper {
	margin:0px;
	width:99%;
}
#header {
	padding:5px;
	float:left;
	width:100%;
}
#notice {
	margin:0px;
	float:right;
	width:33%;
	height:auto;
	margin-left:5px;
	margin-right:5px;
}
#notice p{
	margin:0px;
	padding: 0.4em 1em 0.4em 20px;
}
#content {
	margin:0px;
	width:100%;
	float:left;
}
#menu{
	float:left;
	width:auto;
}
#menu a{
	float:left;
	margin:5px;
	padding: 0.4em 1em 0.4em 20px;
	text-decoration: none;
}
#menu a:hover{
	background: #79C9EC url(start/images/ui-bg_glass_75_79c9ec_1x400.png) repeat-x 50% 50%;
	border: 1px solid #448DAE;
	color: #026890;
	font-weight: normal;
}
#search{
	float:right;
	width:auto;
}
#search form {
	float:right;
}
#search #s{
	width:250px;
}
.pagination{
	float:left;
	width:100%;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}