<div class="ui-highlight">
	<div class="ui-state-highlight ui-corner-all">
		<p>
			<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em; margin-top:0px;"></span>
			<%= flash[:notice] %>
		</p>
	</div>
</div>