<%= form_for(@datacenter) do |form| %>
<div class='toolbar' >
	<%= link_to "Back", [:datacenters], {:class => 'back'}%>
	<h1>Edit datacenter</h1>
	
</div><!-- /header -->

<div>	
	<%= render :partial => "form", :locals => {:datacenter => @datacenter, :f => form}%>
	<%= form.submit "Save" %>
</div><!-- /content -->

<%end%>
