<h1>Listing datacenters</h1>
<div id="datacenters">
	<ul>
		<% @datacenters.each do |datacenter| %>
				<li><a href='#datacenter<%= datacenter.id %>'><%= datacenter.name %></a></li>
		<% end %>
	</ul>
	<%= render :partial => 'datacenter_tab', :collection => @datacenters, :as => :datacenter%>
</div>

<br />

<%= link_to 'New Datacenter', new_datacenter_path %>
