<div class='ui-dialog ui-widget ui-widget-content ui-corner-all' style='width:98%; '>
	<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
		<span class='ui-dialog-title'>New datacenter</span>
	</div>
	

	<%= render 'form' %>

	<%= link_to 'Back', datacenters_path %>
	
</div>
