<%= form_for(@datacenter) do |form| %>
<div class='toolbar' >
	<%= link_to "Back", [:datacenters], {:class => 'back'}%>
	<h1>New datacenter</h1>
	
</div><!-- /header -->

<div>	
	<%= render :partial => "form", :locals => {:datacenter => @datacenter, :f => form}%>
	<ul class='individual'>
		<li><%= form.submit "Save", :class => "submit" %></li>
	</ul>
</div><!-- /content -->

<%end%>
