<!DOCTYPE html>
<html>
<head>
	<title>Racks</title>
	<script src="/javascripts/jquery.js" type="text/javascript" ></script>
	<script src="/javascripts/jquery.min.js" type="text/javascript"></script>
	<script src="/javascripts/jqtouch.js" type="text/javascript" ></script>
	<script src="/javascripts/jqtouch.transitions.js" type="text/javascript" ></script>
	<link rel="stylesheet" href="/stylesheets/iphone/jqtouch.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/stylesheets/iphone/jqtouch.min.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/stylesheets/iphone/theme.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/stylesheets/iphone/theme.min.css" type="text/css" media="screen" />
	<script src="/javascripts/iphone.js" type="text/javascript" charset="utf-8"></script>
	
	<%= csrf_meta_tag %>
</head>
<body>
	<div id="content">
		<%= yield %>
	</div>
</body>
</html>
