<!DOCTYPE html>
<html>
<head>
	<title>Racks</title>
	<link rel="stylesheet" href="/stylesheets/iphone.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/jquery.mobile-1.0a1.min.css" type="text/css" />

	
	<script src="/javascripts/raphael-min.js" type="text/javascript"></script>
	<script src="/javascripts/cufon-yui.js" type="text/javascript"></script>
	<script src="/javascripts/Verdana_400-Verdana_700-Verdana_italic_400-Verdana_italic_700.font.js" type="text/javascript"></script>
	
	<script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
	
	<script src="/javascripts/jquery.mobile-1.0a1.js" type="text/javascript"></script>

	<script src="/javascripts/rails.js" type='text/javascript'></script>

	<%= csrf_meta_tag %>
</head>
<body>
	<div data-role="page" data-theme="b" data-fullscreen="true">
		<%= yield %>
	</div><!-- /page -->
</body>
</html>
